<template>
  <h1>PDF Ripper</h1>
  <h3>Convert PDF to responsive HTML</h3>
  <p>Click Browse to open a PDF. Files are parsed locally in the browser.</p>
  <label class="button" for="file">Browse</label>
  <input id="file" type="file" ref="fileInput" accept="application/pdf" @change="onClickLoadFile" />
  <div class="title-button" v-for="documentKey in Object.keys(store.title)">
    <button class="button" @click="onClickLoadStorage(documentKey)">
      <i>{{ store.title[documentKey] }}</i>
    </button>
    <button class="button" @click="onClickRemoveStorage(documentKey)">x</button>
  </div>
  <p v-if="loading">Loading...</p>
  <footer>
    <a href="https://gitlab.com/plutoapps/pdf-ripper/" target="_blank" rel="noopener">Source Code</a>
  </footer>
</template>

<script setup lang="ts">
import load from '../lib/ripper';
import store, { loadDocumentFromStorage, removeDocument } from '../store';
import { useRouter } from 'vue-router';
import { ref } from 'vue';

const router = useRouter();

const fileInput = ref(null);

const loading = ref(false);

interface FileInputElement extends HTMLInputElement {
  files: FileList
}
interface FileLoadTarget {
  result: ArrayBuffer;
}
async function onClickLoadFile() {
  const file = (fileInput.value as unknown as FileInputElement).files[0];
  const reader = new FileReader();
  reader.onload = async function (event) {
    store.pages = [];
    await load((event.target as FileLoadTarget).result, file.name);
    router.push({ path: '/view' });
    loading.value = false;
  };
  reader.readAsArrayBuffer(file);
  loading.value = true;
}

function onClickLoadStorage(documentKey: string) {
  if (loadDocumentFromStorage(documentKey)) {
    router.push({ path: '/view' });
  }
}

function onClickRemoveStorage(documentKey: string) {
  removeDocument(documentKey);
}
</script>

<style scoped>
input {
  display: none;
}
.button {
  margin: 8px 0;
}
.title-button {
  display: flex;
}
footer {
  position: fixed;
  bottom: 0px;
  height: 64px;
}
</style>