<template>
    <div class="viewer">
        <nav>
            <router-link to="/">Back</router-link>
            <template v-for="(item, pageIndex) in store.pages">
                <li>
                    <a class="page-link" :href="'#page-' + pageIndex">Page {{ pageIndex + 1 }}</a>
                </li>
                <template v-for="(cell, cellIndex) in item">
                    <li v-if="cell.height > h2Height">
                        <a
                            class="header2-link"
                            :href="'#' + pageIndex + '-' + cellIndex + '-' + cell.short"
                        >{{ cell.short }}</a>
                    </li>
                    <li v-else-if="cell.height > h3Height">
                        <a
                            class="header3-link"
                            :href="'#' + pageIndex + '-' + cellIndex + '-' + cell.short"
                        >{{ cell.short }}</a>
                    </li>
                </template>
            </template>
        </nav>
        <div class="content">
            <div v-for="(item, pageIndex) in store.pages" :id="'page-' + pageIndex">
                <div class="page-link">
                    <router-link class="button" to="/">&times;</router-link>
                    <a class="button" href="#page-0">&Hat;</a>
                    <a
                        class="button"
                        v-if="pageIndex - 1 >= 0"
                        :href="'#page-' + (pageIndex - 1)"
                    >&lt;</a>
                    <a class="button" :href="'#page-' + pageIndex">Page {{ pageIndex + 1 }}</a>
                    <a
                        class="button"
                        v-if="pageIndex + 1 < store.pages.length"
                        :href="'#page-' + (pageIndex + 1)"
                    >&gt;</a>
                </div>
                <template v-for="(cell, cellIndex) in item">
                    <h2
                        :id="pageIndex + '-' + cellIndex + '-' + cell.short"
                        v-if="cell.height > h2Height"
                    >{{ cell.para }}</h2>
                    <h3
                        :id="pageIndex + '-' + cellIndex + '-' + cell.short"
                        v-else-if="cell.height > h3Height"
                    >{{ cell.para }}</h3>
                    <p v-else>{{ cell.para }}</p>
                </template>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import store from '../store';

const h2Height = 25;
const h3Height = 10;
</script>

<style scoped>
.viewer {
    display: flex;
    flex-direction: row;
    word-wrap: anywhere;
}
nav {
    position: sticky;
    top: 0px;
    height: 100vh;
    overflow: scroll;
}
nav li {
    list-style: none;
    margin: 8px 0;
    padding-right: 16px;
}
.content {
    max-width: 800px;
}

.page-link {
    width: 90%;
    display: block;
    border-top: 1px solid #222f3a;
    padding-top: 4px;
}
.content .page-link {
    position: sticky;
    top: 0;
    justify-content: space-between;
    display: flex;
    width: 100%;
    background-color: white;
    padding: 4px 0;
}
.content .page-link .button {
    padding: 0.3rem 1rem;
}

.header2-link {
    margin-left: 16px;
}
.header3-link {
    margin-left: 32px;
}

.mobile-nav {
    display: none;
}
@media (max-width: 1200px) {
    .viewer {
        display: block;
        margin-bottom: 35px;
    }
    nav {
        position: unset;
        height: unset;
    }
    nav.mobile-nav {
        display: block;
        position: fixed;
        top: unset;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: yellow;
        padding: 10px;
        height: 35px;
    }
}
</style>