<template>
  <div class="main">
    <router-view></router-view>
  </div>
</template>

<style>
body {
  margin: 0;
}
#app {
  font-family: sans-serif;
  color: #222f3a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.button {
  display: inline-block;
  border: 1px solid #222f3a;
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  text-decoration: none;
  color: #222f3a;
}
.button:hover {
  background-color: #222f3a;
  color: white;
}

h1 {
  font-size: 2.9rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  line-height: 1.5rem;
}
</style>
